body {
  background-color: #2f2b31;
  padding-top: 60px;
  color: white;
}

.logo {
  display: block;
  max-height: 250px;
  margin: 0px auto;
}

.social-links {
  text-align: center;
}
.social-links > a {
  display: inline-block;
  margin: 10px;
}

.mission-statement {
  text-align: center;
  font-size: 14pt;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0px auto;
}

.footer {
  text-align: center;
  font-size: 10pt;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 50px;
  margin-top: 50px;
  border-top: 1px solid #4F328C;
}

#twitch-embed {
  display: block;
  width: 1280px;
  height: 720px;
  margin: 25px auto;
}
@media (max-width: 1310px) {
  #twitch-embed {
    width: 1152px;
    height: 648px;
  }
}
@media (max-width: 1182px) {
  #twitch-embed {
    width: 1024px;
    height: 576px;
  }
}
@media (max-width: 1054px) {
  #twitch-embed {
    width: 896px;
    height: 504px;
  }
}
@media (max-width: 926px) {
  #twitch-embed {
    width: 768px;
    height: 432px;
  }
}
@media (max-width: 798px) {
  #twitch-embed {
    width: 640px;
    height: 360px;
  }
}
@media (max-width: 670px) {
  #twitch-embed {
    width: 512px;
    height: 288px;
  }
}
@media (max-width: 542px) {
  #twitch-embed {
    width: 384px;
    height: 216px;
  }
}
@media (max-width: 414px) {
  #twitch-embed {
    width: 384px;
    height: 216px;
  }
}